body {
    padding: 0;
    margin: 0;
}

#navbar {
    background-color: #00000077;
    border-radius: 10% 36% 98% 0% / 0% 0% 32% 0%;
}

#nomSite {
    font-size: 2em;
    font-family: 'Metal Mania', cursive;
}

#navDroite {
    margin-right: 4%;
    margin-bottom: 16px;
}

#navBtn {
    margin-right: 70px;
    border-radius: 30px;
}

#pseudo {
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

.cImg {
    width: 104%;
    border-radius: 0% 0% 100% 0% / 0% 0% 7% 0% ;
}


/* ******* CAROUSEL ************ */

.description {
    background-color: #00000077;
    text-align-last: start;
    position: relative;
    bottom: 162px;
    padding: 20px;
    border-radius: 0% 0% 100% 0% / 0% 0% 25% 0%;
}

main h1 {
    font-family: 'Sansita', sans-serif;
}

.paraCarousel {
    font-size: 1.5em;
    font-family: 'EB Garamond', serif;
    padding-top: 15px;
}


/* ****** SECTION AJOUT RECENT ******** */

/* #ajoutRecent {
    width: max-content;
}

.recent {
    display: flex;
    width: 20%;
    border-right: 3px solid #0000001f;
}

 */

.coverImg {
    object-fit: cover;
    height: 18vh;
}

#prev, #next {
    position: relative;
    top: 80px;
    background-color: white;
    border: none;
}

#prev:hover, #next:hover {
    background-color: cornflowerblue;
}





