body {
    padding: 0;
    margin: 0;
}


/* ***************** DROP PROFIL *************************************************** */

.dropAction {
    width: 33%;
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
}

.dropProfil {
    cursor: pointer;
    text-align: center;
}

#btnProfil {
    width: 50%;
    margin-top: 2%;
    border-radius: 50px;
}

.dropMenu {
    display: none;
    flex-wrap: wrap;
    width: 201%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0px 7px 13px -4px #0000005c;
    background-color: #fff;
    text-align: start;
}

.dropMenu img {
    width: 30%;
    height: fit-content;
    border-radius: 60px;
}

.dropMenu ul, .dropMenu li a {
    list-style: none;
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropMenu li {
    margin-bottom: 12%;
    font-family: 'EB Garamond', serif;
    font-size: 1.4em;
    font-weight: 500;
    padding-left: 3%;
}

.dropMenu .deconnection {
    margin-top: 4%;
    padding-right: 5%;
    width: fit-content;
    float: right;
}

.dropMenu .deconnection a:hover, .dropMenu .deconnection:hover {
    color: #ca0000;
    background-color: #ffffff;
}

.dropMenu li:hover {
    background-color: #afafaf30;
    transition: 0.4s;
}

.profil {
    display: flex;
    margin-top: 4%;
    margin-bottom: 7%;
    height: 14vh;
    border-bottom: 2px solid #00000014;
}

.profil img {
    margin-top: 4%;
    margin-left: 2%;
}

.profil span {
    font-family: 'EB Garamond', serif;
    font-size: 0.8em;
}

.profil h3 {
    margin-top: 5%;
    margin-left: 5%;
}


/* ***************** DROP AJOUT GALERIE *************************************************** */

#navBtn {
    margin-right: 70px;
    border-radius: 30px;
    background-color: #0064e7;
    color: #fff;
    font-family: 'Sansita', sans-serif;
    width: 100%;
}

#creerGalerie {
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btnCreer {
    display: flex;
    justify-content: end;
}

#dropCreer {
    display: flex;
    margin-top: 1%;
    background-color: #fff;
    box-shadow: 0px 7px 13px -4px #0000005c;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 108%;
    visibility: hidden;
}

.titre, #choixJeux, #choixTags, #ajoutImg, #choixGalerie {
    margin: 3% 4%;
}

.titre {
    display: flex;
    padding: 3% 0 3% 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
    border-bottom: 2px solid #00000014;
    font-family: 'Sansita', sans-serif;
}

.titre h3 {
    font-size: 2em;
}

#choixJeux, #choixTags {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    padding: 1% 3%;
    border: 1px solid #000;
}

#choixJeux h4, #choixTags h4 {
    font-size: 1.2em;
}

#choixTags span {
    font-size: 1em;
}

#ajoutImg {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1% 3%;
    border: 1px solid #000;
    justify-content: space-between;
    flex-direction: column;
}

#ajoutImg h4:first-child {
    font-size: 1em;
}

#ajoutImg h4:nth-last-child(2) {
    font-size: 1.9em;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    text-align: center;
}

#ajoutImg i {
    border: none;
    font-size: 8em;
    color: #0055ff;
    text-align: center;
    margin: 21% 0;
}

#ajoutImg span {
    font-size: 1em;
    text-align: center;
}

#choixGalerie {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1% 3%;
    border: 1px solid #000;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#choixGalerie h4 {
    font-size: 1.1em;
    padding-top: 1%;
}

#choixGalerie span {
    border: 1px solid #000;
    padding: 1%;
    margin: 2%;
}






















/* ******************** BARRE NAV ****************************************************** */

#navbar {
    background-color: #00000077;
    border-radius: 10% 36% 98% 0% / 0% 0% 32% 0%;
}

#logo1 {
    width: 13%;
}

#nomSite {
    font-size: 2em;
    color: #fff;
    font-family: 'Metal Mania', cursive;
}

.cImg {
    width: 104%;
    border-radius: 0% 0% 100% 0% / 0% 0% 7% 0% ;
}

/* ******* PROFIL ****************** */

#profil {
    background-color: #fff;
}

/* ******* CAROUSEL ************ */

#carousel, #carousel .active {
    height: 101vh;
}

.description {
    background-color: #00000077;
    text-align-last: start;
    position: relative;
    bottom: 162px;
    padding: 20px;
    border-radius: 0% 0% 100% 0% / 0% 0% 25% 0%;
}

main h1 {
    font-family: 'Sansita', sans-serif;
}

.paraCarousel {
    font-size: 1.5em;
    font-family: 'EB Garamond', serif;
    padding-top: 15px;
}


/* ****** SECTION AJOUT RECENT ******** */

#ajoutRecent {
    background-color: #ffffff;
    position: relative;
    top: 20px;
    border-radius: 0% 0% 100% 0% / 0% 0% 5% 0%;
    padding-bottom: 25px;
}

.ajout {
    font-size: 2.2em;
    font-family: 'Sansita', sans-serif;
    margin: 10px 0px 35px 8px;
}

.coverImg {
    object-fit: cover;
    height: 18vh;
}

.direction {
    position: relative;
    bottom: 190px;
    text-align-last: justify;
}

#btnPrev, #btnNext {
    background-color: white;
    border: none;
}

#btnPrev:hover, #btnNext:hover {
    background-color: cornflowerblue;
} 

#btnPrev {
    margin-left: 1%;
}

#btnNext{
    margin-right: 2%;
}

#list {
    margin: 2% 1%;
    width: max-content;
    display: flex;
}

.itemRecent {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 3%;
    /* border-right: 3px solid #00000016; */
}

.itemRecent img {
    width: 100%;
    height: 22vh;
    object-fit: cover;
}

.carte {
    grid-column: 1 / span 2;
}

#ajoutRecent .overley1 {
    padding: 0px;
    color: #fff;
    font-family: 'Sansita', sans-serif;
}

#ajoutRecent .card-title, .card-text {
    background-color: #00000060;
    text-align: center;
    font-size: 1.5em;
}

/* ************* SECTION UNIVERS PLUS REGARDER *************** */

#universPlusRegarder {
    background-color: #00439C;
    padding-bottom: 4%;
    border-radius: 0% 0% 100% 0% / 0% 0% 1.5% 0%;
}

.universRegarder {
    color: #fff;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 4%;
    margin: 2px 0px 35px 8px;
}

.itemRegarder {
    display: grid;
    gap: 25px;
    width: 85%;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr;
    margin: 4% 5% 1% 8%;
}

.itemRegarder img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

#universPlusRegarder .card {
    border: none;
}

.plusRegarder {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.plusRegarder3 {
    grid-column: 1 / span 2;
}

.plusRegarder4 {
    grid-column: 3;
    grid-row: 2;
}

.plusRegarder5 {
    grid-column: 1 / span 2;
}

.plusRegarder6 {
    grid-column: 3;
    grid-row: 3 / span 2;
}

#universPlusRegarder .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

#universPlusRegarder .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}



#all {
    display: grid;
    height: -webkit-fill-available;
    background-color: #000000;
    gap: 3px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.multiple {
    grid-column: 1;
    grid-row: 1;
}

.multiple img, .multiple4 img {
    border-radius: 100% 100% 0% 100% / 0% 100% 0% 100%;
}

.multiple2 {
    grid-column: 2;
    grid-row: 1;
}

.multiple2 img, .multiple3 img {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 100% 
}


/* ************* SECTION JEUX PLUS REGARDER *************** */

.jeuxRegarder {
    color: #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 4%;
    margin: 0px 0px 35px 30px;
}

.itemJeux {
    display: grid;
    gap: 25px;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    margin: 4% 5% 1% 8%;
}

.itemJeux img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

#jeuxPlusRegarder .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

#jeuxPlusRegarder .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.jeux {
    grid-column: 1;
    grid-row: 1;
}

.jeux3 {
    grid-column: 1 / span 2;
}

.jeux4 {
    grid-column: 1;
    grid-row: 3 / span 2;
}

.jeux5 {
    grid-column: 2;
    grid-row: 3;
}

.jeux6 {
    grid-column: 2;
    grid-row: 4;
}

/* *********** FOOTER ********** */

footer {
    font-family: 'Sansita', sans-serif;
}


/* **************************** MES GALERIES ******************************************************************* */

#imgGalerie img {
    height: 100vh;
    object-fit: cover;
}

#imgGalerie .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Sansita', sans-serif;
    font-size: 3em;
}

#imgGalerie .overley2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000041;
    font-size: 2em;
}


/* ******* GALERIES ********* */

.maGalerie {
    color: #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 4%;
    margin: 0px 0px 35px 30px;
}

.itemGalierie {
    display: grid;
    gap: 35px;
    grid-template-rows: 320px 320px 320px 320px;
    margin: 4% 5% 4% 8%;
}

.itemGalierie img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

#mesGaleries .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

#mesGaleries .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: capitalize;
}

.galerie {
    grid-column: 1 / span 5;
    grid-row: 1;
    box-shadow: 0px 0px 8px 2px #00000050;
}

.galerie2 {
    grid-column: 2 / span 5;
    grid-row: 2;
}

.galerie3 {
    grid-column: 1 / span 5;
    grid-row: 3;
    box-shadow: 0px 0px 8px 2px #00000050;
}

.galerie4 {
    grid-column: 2 /span 5;
    grid-row: 4;
}



/* ******************************  TOUTE LES COMMUNAUTES ************************************ */

#imgComu img {
    height: 100vh;
    object-fit: cover;
}

#imgComu .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Sansita', sans-serif;
    font-size: 3em;
}

#imgComu .overley2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000041;
    font-size: 2em;
}

/* ******* TOUT LES JEUX  ************** */

.jeu {
    color: #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 3%;
    margin: 0px 0px 35px 18px;
}

.allJeux img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

.allJeux .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

.allJeux .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-transform: capitalize;
}

#toutJeux .card {
    margin-left: 3%;
}


/* ****** TOUT LES UNIVERS ********* */

.univers {
    color: #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 5%;
    margin: 0px 0px 35px 18px;
}

.allUnivers img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

.allUnivers .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

.allUnivers .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-transform: capitalize;
}

#toutUnivers .card {
    margin-left: 3%;
}
