body {
    padding: 0;
    margin: 0;
}

#navbar {
    background-color: #00000077;
    border-radius: 10% 36% 98% 0% / 0% 0% 32% 0%;
}

#nomSite {
    font-size: 2em;
    font-family: 'Metal Mania', cursive;
}

#navDroite {
    margin-right: 4%;
    margin-bottom: 16px;
}

#navBtn {
    margin-right: 70px;
    border-radius: 30px;
    background-color: #0064e7;
    color: #fff;
}

#pseudo {
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
}

.cImg {
    width: 104%;
    border-radius: 0% 0% 100% 0% / 0% 0% 7% 0% ;
}


/* ******* CAROUSEL ************ */

#carousel, #carousel .active {
    height: 101vh;
}

.description {
    background-color: #00000077;
    text-align-last: start;
    position: relative;
    bottom: 162px;
    padding: 20px;
    border-radius: 0% 0% 100% 0% / 0% 0% 25% 0%;
}

main h1 {
    font-family: 'Sansita', sans-serif;
}

.paraCarousel {
    font-size: 1.5em;
    font-family: 'EB Garamond', serif;
    padding-top: 15px;
}


/* ****** SECTION AJOUT RECENT ******** */

#ajoutRecent {
    background-color: #ffffff;
    position: relative;
    top: 20px;
    border-radius: 0% 0% 100% 0% / 0% 0% 5% 0%;
    padding-bottom: 25px;
}

.ajout {
    font-size: 2.2em;
    font-family: 'Sansita', sans-serif;
    margin: 10px 0px 35px 8px;
}

.coverImg {
    object-fit: cover;
    height: 18vh;
}

.direction {
    position: relative;
    bottom: 190px;
    text-align-last: justify;
}

#btnPrev, #btnNext {
    background-color: white;
    border: none;
}

#btnPrev:hover, #btnNext:hover {
    background-color: cornflowerblue;
} 

#btnPrev {
    margin-left: 1%;
}

#btnNext{
    margin-right: 2%;
}

#list {
    margin: 2% 1%;
    width: max-content;
    display: flex;
}

.itemRecent {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 3%;
    /* border-right: 3px solid #00000016; */
}

.itemRecent img {
    width: 100%;
    height: 22vh;
    object-fit: cover;
}

.carte {
    grid-column: 1 / span 2;
}

#ajoutRecent .overley1 {
    padding: 0px;
    color: #fff;
    font-family: 'Sansita', sans-serif;
}

#ajoutRecent .card-title, .card-text {
    background-color: #00000060;
    text-align: center;
    font-size: 1.5em;
}

/* ************* SECTION UNIVERS PLUS REGARDER *************** */

#universPlusRegarder {
    background-color: #00439C;
    padding-bottom: 4%;
    border-radius: 0% 0% 100% 0% / 0% 0% 1.5% 0%;
}

.universRegarder {
    color: #fff;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 4%;
    margin: 2px 0px 35px 8px;
}

.itemRegarder {
    display: grid;
    gap: 25px;
    width: 85%;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr;
    margin: 4% 5% 1% 8%;
}

.itemRegarder img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

#universPlusRegarder .card {
    border: none;
}

.plusRegarder {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.plusRegarder3 {
    grid-column: 1 / span 2;
}

.plusRegarder4 {
    grid-column: 3;
    grid-row: 2;
}

.plusRegarder5 {
    grid-column: 1 / span 2;
}

.plusRegarder6 {
    grid-column: 3;
    grid-row: 3 / span 2;
}

#universPlusRegarder .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

#universPlusRegarder .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}



#all {
    display: grid;
    height: -webkit-fill-available;
    background-color: #000000;
    gap: 3px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.multiple {
    grid-column: 1;
    grid-row: 1;
}

.multiple img, .multiple4 img {
    border-radius: 100% 100% 0% 100% / 0% 100% 0% 100%;
}

.multiple2 {
    grid-column: 2;
    grid-row: 1;
}

.multiple2 img, .multiple3 img {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 100% 
}


/* ************* SECTION JEUX PLUS REGARDER *************** */

.jeuxRegarder {
    color: #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 4%;
    margin: 0px 0px 35px 30px;
}

.itemJeux {
    display: grid;
    gap: 25px;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    margin: 4% 5% 1% 8%;
}

.itemJeux img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

#jeuxPlusRegarder .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

#jeuxPlusRegarder .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.jeux {
    grid-column: 1;
    grid-row: 1;
}

.jeux3 {
    grid-column: 1 / span 2;
}

.jeux4 {
    grid-column: 1;
    grid-row: 3 / span 2;
}

.jeux5 {
    grid-column: 2;
    grid-row: 3;
}

.jeux6 {
    grid-column: 2;
    grid-row: 4;
}

/* *********** FOOTER ********** */

footer {
    font-family: 'Sansita', sans-serif;
}


/* **************************** MES GALERIES ******************************************************************* */

#imgGalerie img {
    height: 100vh;
    object-fit: cover;
}

#imgGalerie .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Sansita', sans-serif;
    font-size: 3em;
}

#imgGalerie .overley2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000041;
    font-size: 2em;
}


/* ******* GALERIES ********* */

.maGalerie {
    color: #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    padding-top: 4%;
    margin: 0px 0px 35px 30px;
}

.itemGalierie {
    display: grid;
    gap: 35px;
    grid-template-rows: 320px 320px 320px 320px;
    margin: 4% 5% 4% 8%;
}



.itemGalierie img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

#mesGaleries .overley2 {
    font-family: 'Sansita', sans-serif;
    color: #fff;
    background-color: #0000005e;
    justify-content: center;
    padding: 0;
}

#mesGaleries .card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: capitalize;
}

.galerie {
    grid-column: 1 / span 5;
    grid-row: 1;
    box-shadow: 0px 0px 8px 2px #00000050;
}

.galerie2 {
    grid-column: 2 / span 5;
    grid-row: 2;
}

.galerie3 {
    grid-column: 1 / span 5;
    grid-row: 3;
    box-shadow: 0px 0px 8px 2px #00000050;
}

.galerie4 {
    grid-column: 2 /span 5;
    grid-row: 4;
}



/* ******************************  TOUTE LES COMMUNAUTES ************************************ */

