#navGauche #logo1 {
    width: 15%;
}

.dropProfil #btnProfil {
    width: 10%;
    border-radius: 35px;
}

#navBtn {
    margin-right: 70px;
    border-radius: 30px;
    background-color: #0064e7;
    color: #fff;
    font-family: 'Sansita', sans-serif;
    width: 100%;
}